<app-navbar></app-navbar>
<div class="contentFormView d-flex justify-content-center p-4">
  <app-form-students
    [id]="studentUpload.id"
    [name]="studentUpload.name"
    [description]="studentUpload.description"
    [viewList]="studentUpload.viewList"
    (env)="returnedStudent($event)">
  </app-form-students>
  <app-card-student [name]="student.name" [description]="student.description" [viewList]="student.viewList">
  </app-card-student>
</div>
<app-table-students (env)="studentUpdate($event)"></app-table-students>
